{% extends "base.twig" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between mb-2">
        <h2 class="col-6">Task list</h2>
        <h3 class="col-2">User</h3>
        <h3 class="col-3">Status</h3>
        <a class="text-dark text-decoration-none col-1" href="/personnalWebsites/todo_list/public/task/new/"><button class="btn btnnewtask" type="button">New Task</button></a>
    </div>
            {% for task in tasks %}
                <div class="card myblueborder m-2 cardhover">
                    <div class="d-flex justify-content-between m-2">
                        <div class=" d-flex col-6">
                            <h4>{{ task.title }}</h4>

                        </div>
                        <div class="col-1">
                            <p class="text-center">{{ task.user }}</p>
                        </div>
                        <div class="col-1">

                            <a href="/personnalWebsites/todo_list/public/task/status/{{ task.id }}/">
                            <button type="submit" class="btn btnst">{{ task.status }}
                            </button>
                            </a>

                                
                                    {# <p class="">{{ task.status }}</p>
                                <a href=""></a> #}
                        </div>
                        <div class="d-flex col-3">
                                <a class="text-dark text-decoration-none" href="/personnalWebsites/todo_list/public/task/{{ task.id }}" ><button class="btn btnshow" type="button">Show</button></a>
                                <a class="text-dark text-decoration-none px-2" href="/personnalWebsites/todo_list/public/task/{{ task.id }}/update" ><button class="btn btnupdate" type="button">Update</button></a>
                                <a class="text-dark text-decoration-none" href="javascript:deleteTask({{task.id}})" ><button class="btn btndelete" type="button">Delete</button></a>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        <a class="d-flex justify-content-center mt-5 mb-3 text-decoration-none" href="/personnalWebsites/todo_list/public/"><button class="btn btnback" type="button">Back to HomePage</button></a>
</div>

 <script>
        function deleteTask(id) {
            console.log(id);
            // On affiche une fenetre de controle pour confirmer la suppression
            const question = window.confirm("Voulez-vous vraiment supprimer cette tâche" + id + "?");
            // On fait l'action de supprimer seulement si la fenetre de controle est confirmer
            if (question === true) {
                window.location.href = "http://localhost/personnalWebsites/todo_list/public/task/" + id +"/delete/";

            }
        }
    </script>
{% endblock %}

